@import 'colors.css';

body {
    margin: 0;
    /* padding: 2%; */
    background-color: var(--primary-color);
    color: var(--text-footer);
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
}

.footer {
    font-size: 100%;

    
}
